<h1>
  {{title}}
</h1>
<form method="POST" action="/new">
  <input type="text" placeholder="name" />
  <input type="text" placeholder="message" />
  <button type="submit">
    submit
  </button>
</form>
